@import "tailwindcss";

@plugin "daisyui" {
    themes: Portfolio;
}

@plugin "daisyui/theme" {
    name: "Portfolio";
    default: true;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: #000430;
    --color-base-200: #000753;
    --color-base-300: #000410;
    --color-base-content: oklch(100% 0 0);
    --color-primary: #9200B0;
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: #A10069;
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: #0073A1;
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: #C1C1C1;
    --color-neutral-content: oklch(0% 0 0);
    --color-info: #42004F;
    --color-info-content: oklch(100% 0 0);
    --color-success: #520036;
    --color-success-content: oklch(100% 0 0);
    --color-warning: oklch(75% 0.183 55.934);
    --color-warning-content: oklch(0% 0 0);
    --color-error: #FF0000;
    --color-error-content: oklch(0% 0 0);
    --radius-selector: 2rem;
    --radius-field: 2rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}

@theme {
    /* font */
    --font-montserrat_alt: 'Montserrat Alternates', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
}

@layer base {
    body {
        @apply font-poppins text-base-content;
    }

    h1, h2, h3, h4 {
        @apply font-montserrat_alt leading-[160%];
    }

    h1 {
        @apply text-center text-3xl font-bold md:text-2xl lg:text-6xl;

    }

    h2 {
      @apply text-xl font-semibold lg:text-4xl;  
    }

    h3 {
        @apply text-xl font-medium lg:text-3xl;
    }

    h4 {
        @apply text-lg font-semibold lg:text-2xl;
    }

    p {
        @apply text-sm lg:text-2xl;
    }
}



/* === FOND D'ÉTOILES === */

#background-stars {
    position: absolute;
    inset: 0;
    background-color: var(--color-base-100);
    overflow: hidden;
    pointer-events: none;
}

.star,
.dot {
    position: absolute;
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 3s infinite ease-in-out alternate;
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 0.2;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }
}